extends template.pug
block content
    h1 titre de la page d'administration 
    p du texte pour présenter les infos pratiques d'administration  
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate a optio, corporis dicta aliquam accusamus vero temporibus placeat voluptas, inventore non qui illo modi reprehenderit culpa explicabo? Nostrum tempore magnam nesciunt odio sequi reprehenderit sapiente placeat ratione sit eum. Ut.
    form(action='/form', method='POST')
      label(for='votre-prenom') Pr&eacute;nom : 
      |     
      input#votre-prenom(type='text', name='votre-prenom')
      |     
      label(for='votre-password') Mot de passe secret : 
      |     
      input#votre-nom(type='text', name='votre-password')
      |     
      button(type='submit') Envoyer
      br
    img(src="/img/dromadaire.jpg", alt="smily dromadaire")