extends template.pug
block content
    h1 Titre du blog 
    p du texte pour parler du Blog 
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate a optio, corporis dicta aliquam accusamus vero temporibus placeat voluptas, inventore non qui illo modi reprehenderit culpa explicabo? Nostrum tempore magnam nesciunt odio sequi reprehenderit sapiente placeat ratione sit eum. Ut.
    img(src="/img/chat.png", alt="un chat mignon") 