extends template.pug
block content
    h1 gestionnaire d'identification au blog 
    p Bonjour #{ user }, 
    p L'identifiant de connection #{ password } est correct, vous pouvez visiter le blog !
    
    img(src="/img/lamasticot.jpeg", alt="legendary Lamasticot")