extends template.pug
block content
    h1 Oups, nous sommes perdus ...
    p Voulez-vous retourner vers la page d'accueil ? 
    a(href="/accueil") Retour à l'accueil 
    img(src="/img/homer.jpg", alt="Homer D'oh")
    
block footer
    p le copyright du site 
    p les conditions générales