doctype html
include includes/head.pug   
title exo express doss 2
img.banniere(src='/img/bannière.jpg' alt='bannière')
h1 Page principale
include includes/nav.pug 
h2 Un lamasticot
img(src='/lamaLegendaire' alt='le légendaire Lamasticot')
p= titre 
p= titreh1 
