form(action='/form', method='POST')
      label(for='votre-prenom') Pr&eacute;nom : 
      |     
      input#votre-prenom(type='text', name='votre-prenom')
      |     
      label(for='votre-nom') Nom : 
      |     
      input#votre-nom(type='text', name='votre-nom')
      |     
      button(type='submit') Envoyer