extends template.pug
block content
    h1 Oups, nous sommes perdus ...
    p Vouslez-vous retourner vers la page d'accueil ? 
    a(href="/main.pug") 
    img(src="/img/dromadaire.jpeg", alt="") 
block footer
    p le copyright du site 
    p les conditions générales