extends template.pug
block content
    h1 Titre du formulaire de contact 
    p du texte pour présenter les onfos nécessaires  
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate a optio, corporis dicta aliquam accusamus vero temporibus placeat voluptas, inventore non qui illo modi reprehenderit culpa explicabo? Nostrum tempore magnam nesciunt odio sequi reprehenderit sapiente placeat ratione sit eum. Ut.
    input#(type="text", name="name")
    input#(type="text", name="lastname")
    input#(type="tel", name="")
    input#(type="email", name="")
block footer
    p le copyright du site 
    p les conditions générales